.title {

    background-color: var(--primary);
    color: var(--primary-text);
    border: 1px solid var(--primary);
    padding: 10px;
    width:120px;
    text-align: center;
    min-height: 36px;


}

.value {

    color: var(--black);
    border: 1px solid var(--primary);
    height:100px;
    width:120px;
    padding: 10px;
    font-size: 70px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;


}