
.adminBody {

    margin-top: 100px;
    padding: 20px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flexColumn {

    display: flex;
    flex-direction: column !important;
    align-items: center;

}

.flexColumn > div {

    margin: 5px;
}

form {

    width: 30%;

}

.detailsForm {

    width: 60%;

}

.colorChart {

    margin-top: 10px;
}

.inputColor {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.inputColor::-webkit-color-swatch-wrapper {
    padding: 0; 
}

.inputColor::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.flexColorSelect {

    display: flex;
    align-items: center;
    justify-content: left;

}

.flexColorSelect > div {

    margin-top: 10px
}

#dashboard{

    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;

}

#dashboard > div {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
 

}

.dashboardBox {

    margin: 10px;
    width: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    margin: 10px;  
    
}






.contentWrapper{

    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

#dashboard > div {

    margin: 10px;

}

#links{

    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

#links > a {

    margin: 5px;

}

#addGuestSection {

    width: 60%;
    
}

#addGuestTitle {

    padding-left: 50px;
    cursor: pointer;

}

#guestListSection{

    width: 60%;

}

#updateGuestSection {

    width: 100%;
    
}

#familyListSection{

    width: 100%;

}

.additionalGuests {

    width: 100%;
    

}

#tasks{

    width: 60%;

}

#addTaskSection {

    width: 60%;
    
}

#addTaskTitle {

    padding-left: 50px;
    cursor: pointer;

}

#addSupplierTitle {

    padding-left: 50px;
    cursor: pointer;

}


#addSupplierSection {

    width: 60%;

}

#clothingForm {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clothingForm > fieldset {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px

}

#supplierListSection {

    width: 60%;
}

#supplierForm {

    width: 100%;

}

.weddingDetails {

    

}

ul {

    padding: 10px;
}

li {
    

    list-style-type: none;
    padding: 5px;
    display:flex;
    align-items: center;

 
    

}

li > div {

    margin: 5px;
  

}

.row {

    width: 100%;
    display: flex;
    flex-direction: row;

}

.row2 {

    width: 100%;
    display: flex;
    flex-direction: column;

}

.col-1 {

    width: 8.33%;

}

.col-2 {

    width: 16.66%;

}

.col-3 {

    width: 25%;

}

.col-4 {

    width: 33%;

}

.col-5 {

    display: block;
    width: 41.66%;

}

.col-6 {

    width: 50%;

}

.col-7 {

    width: 58.33% !important; 

}


.col-8 {

    width: 66.66%;

}

.col-9 {

    width: 75%;

}

.col-10 {

    width: 83.33%;

}

.col-11 {

    width: 91.66%;

}

.col-12 {

    width: 100%;

}

.titleName {

    margin: 5px;
    text-align: left;

}

.titleName {

    margin: 5px;
    width: 12%;
    text-align: right;
    display: block !important;

}

.inputName{

    width: 80%;
    display: block !important;

}



textarea{

    width: 100%;
    display: inline-block;
    margin: 0px;
    padding: 10px;
    text-align: left;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    font-size: 18px;
    width: calc(100% - 60px);
    white-space: pre-wrap;

}

#Note {

    padding-left: 50px !important;
    font-size: 16px;
    font-family: Arial, sans-serif !important;

}

.iconHeader {

    position: absolute;
    color: var(--accent);
    padding: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 24px;
    cursor: pointer;

}

.iconHeader2 {

    color: var(--accent);
    padding: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 24px;
    cursor: pointer;

}

.inputDateText {

    text-align: center;
}

.icon {

    position: absolute;
    color: var(--accent);
    padding: 15px;
    font-size: 19px;
    
}

.icon2 {

    display: inline-block;
    color: var(--grey);
    padding: 15px;
    font-size: 19px;
    
}

.icon3 {

    display: inline-block;
    color: var(--accent);
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    
}


.iconCheck {

    display: inline-block;
    color: green;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    
}

.iconCross {

    display: inline-block;
    color: red;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    
}

.iconMinus {

    display: inline-block;
    color: orange;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    
}

.icon4 {

    display: inline-block;
    color: var(--accent);
    font-size: 25px;

    
}

.iconCheck2 {

    display: inline-block;
    color: green;
    font-size: 25px;

    
}

.iconCross2 {

    display: inline-block;
    color: red;
    font-size: 25px;
  
    
}

.inputBox {

    display: inline-block;
    width: calc(100% - 60px);
    margin: 0px;
    padding: 10px;
    text-align: left;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    padding-left: 50px;
    font-size: 16px;

}

.inputBox2 {

    display: inline-block;
    width: calc(100% - 15px);
    margin: 0px;
    padding: 9px !important;;
    text-align: left;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    font-size: 18px;
 

}

.inputBox3 {

    display: inline-block;
    width: calc(100% - 30px);
    margin: 0px;
    padding: 14px 12px 12px 14px;
    text-align: left;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    font-size: 18px;

}

.checkIcon {

    width: calc(92% - 60px);

}

.guestType {

    outline: none;
    
}

.guestType:focus {

   outline: none;
   border-color: var(--primary);
   box-shadow: 0 0 10px var(--primary);

}

.guestAdd {

    outline: none;
    
}

.guestAdd:focus {

   outline: none;
   border-color: var(--primary);
   box-shadow: 0 0 10px var(--primary);

}

.guestClothing {

    outline: none;
    
}

.guestClothing:focus {

   outline: none;
   border-color: var(--primary);
   box-shadow: 0 0 10px var(--primary);

}

.rsvp {

    outline: none;
    
}

.rsvp:focus {

   outline: none;
   border-color: var(--primary);
   box-shadow: 0 0 10px var(--primary);

}

.inputBox:focus {

    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
 
 }

.inputBox::placeholder{

   color: var(--grey);

}

.inputBox2:focus {

    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
 
 }

.inputBox2::placeholder{

   color: var(--grey);

}

.inputBox3:focus {

    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
 
 }

.inputBox3::placeholder{

   color: var(--grey);

}

.addGuest {

    width: 200px;
    border: none;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--primary-text-color);


}

.deleteButton{

    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--secondary-text-color);

}

.primaryButton {

    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--primary-text-color);

}

.secondaryButton{

    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--secondary-text-color);

}




.primary {

    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--primary-text-color);
    font-weight:bold;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}

.primary:hover {

    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--primary-text-color);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}

.secondary {

    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--secondary-text-color);
    font-weight:bold;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}

.secondary:hover {

    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: var(--secondary-text-color);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}

.state {

    width: 20%;
}

#addGuestSection {

    margin: 20px 0px;

}

#inputForm {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% !important;

}

.inputGroup {

    margin: 10px;
    
}

#guestList > .guestRow {

   
    margin: 5px;
    border: 1px solid var(--grey);
    border-radius: 9px;

}

.guestRow {

    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    

}

.dietRow {

    width: 100%;
}

.guestRow > div {

    margin: 10px;

}

.centered {

    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;    /* Vertical centering */
    margin: 1px;
   
}

.guestType {

    border: 1px solid var(--grey);
    height: 45px !important;
    border-radius:10px !important;
    padding: 14px 10px 10px 50px !important;
    font-family: Arial, sans-serif !important;
    font-size: 16px;
    margin: 0px !important;
    color: grey;

}

.guestAdd {

    border: 1px solid var(--grey);
    height: 45px !important;
    border-radius:10px !important;
    padding: 14px 12px 12px 50px !important;
    font-family: Arial, sans-serif !important;
    font-size: 16px;
    margin: 0px !important;
    color: grey;
    
}

.guestClothing {

    border: 1px solid var(--grey);
    height: 45px !important;
    border-radius:10px !important;
    padding: 14px 12px 12px 14px !important;
    font-family: Arial, sans-serif !important;
    font-size: 16px;
    margin: 0px !important;
    color: grey;
    
}

#supplierList > .supplierRow {

   
    margin: 5px;
    border: 1px solid var(--grey);
    border-radius: 9px;
    cursor: pointer;



}

.supplierRow {

    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    

}

.supplierRow > div {

    margin: 10px;

}




.rsvp {

    border: 1px solid var(--grey);
    height: 45px !important;
    border-radius:10px !important;
    padding: 14px 12px 12px 50px !important;
    font-family: Arial, sans-serif !important;
    font-size: 16px;
    margin: 0px !important;

}

select {

    border: 1px solid var(--grey);
    height: 45px !important;
    border-radius:10px !important;
    font-family: Arial, sans-serif !important;
    font-size: 16px;
    margin: 0px !important;
    color: black;
    min-width: 150px;
    padding:9px !important;

}

select::picker-icon {

    color: #999;
    transition: 0.4s rotate;

}

option {

    color: black;
    padding: 10px;



}

.state {

    width: 150px;

}

.activity {

    width: 150px;

}

.topLinks {

    display: flex;
    align-items: center;
    justify-content: left;

}

.topLinks > div {

    margin: 5px;

}

/* select,
::picker(select) {
  appearance: base-select;
} */



.filterButtons {

    display: flex;
    align-items: center;
    justify-content: center;

}

.filterButton {

  background-color: var(--primary);
  border: none;
  color: black;
  text-align: center;
  height: 70px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.filterButton:hover {

  background-color: var(--primary);
   color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.activeFB {

  background-color: var(--white);
  border: none;
  color:  var(--black);
  border: 2px solid  var(--primary);
  text-align: center;
  height: 70px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.filterButton2 {

  background-color: var(--primary);
  border: none;
  color: black;
  text-align: center;
  height: 35px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.filterButton2:hover {

  background-color: var(--primary);
   color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.activeFB2 {

  background-color: var(--white);
  border: none;
  color:  var(--black);
  border: 2px solid  var(--primary);
  text-align: center;
  height: 35px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.listSelectButtons {

    display: flex;
    align-items: center;
    justify-content: center;

}

.listSelectButton {

  background-color: var(--primary);
  border: none;
  color: black;
  text-align: center;
  height: 70px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.listSelectButton:hover {

  background-color: var(--primary);
   color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.activeLS {

  background-color: var(--white);
  border: none;
  color:  var(--black);
  border: 2px solid  var(--primary);
  text-align: center;
  height: 70px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.guestfilterButton {

  background-color: var(--primary);
  border: none;
  color: black;
  text-align: center;
  height: 35px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.guestfilterButton:hover {

  background-color: var(--primary);
   color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.activeGuestFB {

  background-color: var(--white);
  border: none;
  color:  var(--black);
  border: 2px solid  var(--primary);
  text-align: center;
  height: 35px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.supplierfilterButton {

  background-color: var(--primary);
  border: none;
  color: black;
  text-align: center;
  height: 70px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.supplierfilterButton:hover {

  background-color: var(--primary);
   color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.activeSupplierFB {

  background-color: var(--white);
  border: none;
  color:  var(--black);
  border: 2px solid  var(--primary);
  text-align: center;
  height: 70px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.weddingfilterButton {

  background-color: var(--primary);
  border: none;
  color: black;
  text-align: center;
  height: 70px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.weddingfilterButton:hover {

  background-color: var(--primary);
   color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.activeWeddingFB {

  background-color: var(--white);
  border: none;
  color:  var(--black);
  border: 2px solid  var(--primary);
  text-align: center;
  height: 70px;
  width: 130px;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.sortOptions {

    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sortOptions > div  {

    margin: 10px;

}

.guestSortedBy {

    width: 20%;

}

.guestSorted {

    width: 10%;
    
}


.noOption {

    color: var(--grey) !important;
    padding-left: 200px !important;

}

.dashLink {

    text-decoration: none !important;
    margin: 10px;

}

.inputDelete {

    display: flex;
    align-items: center;
   

}

.notes {

    display: flex;
    align-items: center;

}

.notes > div {

    margin: 10px;
}



@media screen and (max-width: 1150px) {


    .contentWrapper{

        width: 100%;
     
    
    }
    

    #addGuestSection {

        width: 100%;
        
    }

    #guestListSection{

        width: 100%;
    
    }
    
        
    #updateGuestSection {

        width: 100%;
        
    }

    #familyListSection{

        width: 100%;
    
    }

    #tasks{

        width: 100%;

    }

    #addTaskSection {

        width: 100%;
    
    }


    .sortOptions {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .weddingDetails {

        width: 100%;
    
    }

    .detailsForm {

        width: 100%;

    }
    
    .row {

        width: 100%;
        display: flex;
        flex-direction: column !important;

    }


    .col-1 {

        width: 100%;

    }


    .col-2 {

        width: 100%;

    }

    .col-3 {

        width: 100%;

    }

    .col-4 {

        display: block;
        width: 100%;

    }

    .col-5 {

        display: block;
        width: 100%;

    }

    .col-6 {

        width: 100%;

    }

    .col-7 {

        width: 100%;

    }


    .col-8 {

        width: 100%;

    }

    .col-9 {

        width: 100%;

    }

    .col-10 {

        width: 100%;

    }

    .col-11 {

        width: 100%;

    }

    .inputBox {

        display: inline-block;
        width: calc(100% - 80px);
        margin: 0px;
        padding: 10px;
        text-align: left;
        border: 1px solid var(--grey);
        border-radius: 10px;
        padding-left: 50px;
        font-size: 16px;
    
    
    }

    
    .inputBox3 {

        display: inline-block;
        width: calc(100% - 80px);
        margin: 0px;
        padding: 10px;
        text-align: left;
        border: 1px solid var(--grey);
        border-radius: 10px;
        padding-left: 14px 12px 12px 14px;
        font-size: 16px;
    
    
    }

    .checkIcon {

        width: calc(88% - 60px);
    
    }

    .titleName {

        margin: 5px;
        width: 100%;
        text-align: right;
        display: block !important;
    
    }
    
    .inputName{
    
        width: 100%;
        display: block !important;
    
    }

    .guestRow {

        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    
    }

    .sortOptions {

        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .guestSortedBy {

        width: 100%;

    }

    .guestSorted {

        width: 100%;
        
    }

    .topLinks {

        display: flex;
        align-items: center;
        justify-content: center;

    }



}