.imageWrapper {

    width: 100%;
    height: 850px; /* or min-height: 850px if needed */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url("../../../../images/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    position: relative;
    z-index: -3;
    

    /* Optional fallback color */
    background-color: #000;
}

.std {
    
    font-size: 20px;
    font-weight: 800;
    color: var(--text-color-logo-1);
    text-shadow: 1px 1px var(--text-shadow-logo-1);
 
}

.over-the-rainbow-regular {

  font-family: "Over the Rainbow", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;

}

.addP {

  padding: 20px;

}

.anton-regular {

  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
  color: var(--and-color);
  z-index: -1;
  opacity: 0.6;

}

.logoCanvas {

  position: relative;
  height: 200px;
  width: 300px;

}

.and {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  

}

.fName {

  position: absolute;
  top: -20px;
  left: -20px;

}

.sName {

  position: absolute;
  bottom: -20px;
  left: 60px;


}

.date {

  color: var(--text-color-logo-1);
  text-shadow: 1px 1px var(--text-shadow-logo-1);
 
}



.iCal > a {

  background-color: var(--bg-color-iCal);
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  color: var(--text-color-iCal);


}

.iCal > a:hover {

  background-color: var(--bg-color-iCal-hover);
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  color: var(--text-color-iCal-hover);


}

.iCalLink {

  text-decoration: none !important;

}

@media (max-width: 768px) {
    .imageWrapper {
        background-attachment: scroll;
    }
}
