/* Style the header with a grey background and some padding */
.header {

  background-color: var(--primary);
  margin: 0px;
  padding: 0px;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  overflow: hidden;
    
}

.headerLogo {

  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;

}

.headerLinks {
  
  width: 50%;
  padding: 5px;
  display: flex;
  justify-content: flex-end;

}

.linksGroup {

  display:flex;
  justify-content: right;
  align-items: center;
  
}

/* Style the header links */
.header a {

  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;

}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.headerLogo a.logo {

  margin-left: 10px;

}

/* Change the background color on mouse-over */
.headerLinks a:hover {

  background-color: var( --bg-hover-link);
  color: var(--primary-text-color);

}

/* Style the active/current link*/
.headerLinks a.active {

  background-color: var( --bg-hover-link);
  color: var(--primary-text-color);

}

.headerLinks a {

  padding: 10px;

}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 1267px) {

  .header {

    background-color: var(--primary);
    opacity: 1;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    justify-content: left;
  
  }

  .headerLinks {

    width: 40%;
    margin-top:90px;
    

  }

  .linksGroup {

    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    display: none;
    
  

  }

  .rightLinks > div {

    padding: 10px;
    
  }

  .menuActive {

    display: block !important;

  }

  .menuIcon {

    margin: 30px;


  }



}

