.countdownHeader {
    
    text-align: center;

}

#countdown {

    margin: 100%; 


}

.days {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.time {

    width: 100%;
     display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.countdown {

    margin: 0px; 
    padding: 5px 5px;
   

}



.types {

    margin: 5px;
    padding:10px;
    text-align: center;

}

.timeInfo {

    font-size: 10vw;
}


@media only screen and (max-width: 900px) {

    .countdown {

        margin: 0px; 
        padding: 5px 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap:wrap;
    
    }

}



